{{ partial "header.html" . }}

<body>
	{{ partial "header_menu.html" . }}

    <div class="container">
        <div class="page-header">
            <h1>{{ .Title }}</h1>
        </div>

        <div class="row">
			{{ range .Data.Pages.GroupByDate "2006" }} 
            <div class="col-sm-6">
   		        <h2>{{ .Key }}</h2>
                <ul id="list">
                {{ range .Pages }}
					<li>
    					<a href="{{ .RelPermalink }}">{{ .Title }} {{ if .GetParam "draft" }}:: DRAFT{{ end }}</a>
						<p class="small">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
					</li>
                {{ end }}
                </ul>
            </div>
			{{ end }}
        </div>
    </div>

	{{ partial "footer.html" . }}
	{{ partial "footer_includes.html" . }}
</body>

</html>
