{{ partial "header.html" . }}

<body itemscope itemtype="http://schema.org/Article">
	{{ partial "header_menu.html" . }} 
	{{ $baseurl := .Site.BaseUrl }}

	<div class="container">
		<div class="blog-header">
			<h1 itemprop="name" id="title" class="blog-title">
				{{ .Title }}
			</h1>
		</div>

		<div class="row">
			<div class="col-sm-8 blog-main">
				<p itemprop="articleBody" id="content">
					{{ .Content }} 
				</p>
			</div>
		</div>

		{{ partial "post_meta.html" . }} 
		{{ partial "disqus.html" . }} 
	</div>

	{{ partial "footer.html" . }}
	{{ partial "footer_includes.html" . }}
</body>
</html>
