{{ partial "header.html" . }}

<body>
	<script>
	window.fbAsyncInit = function() { FB.init({ appId: '303471599851367', xfbml: true, version: 'v2.2' }); };
	(function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js";
	fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
	</script>

    {{ partial "header_menu.html" . }} {{ $baseurl := .Site.BaseUrl }}
    <meta itemprop="wordCount" content="{{ .WordCount }}">
    <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    <meta itemprop="copyrightHolder" content="{{ .Site.Params.Owner }}">
    <meta itemprop="copyrightYear" content="{{ .Date.Format "2006" }}">

    <div class="container" itemscope itemtype="http://schema.org/Article">
        <div class="page-header">
            <h1 itemprop="name" id="title">{{ .Title }}</h1>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <small>
            				{{ .Date.Format "Mon Jan 2, 2006" }},
            				{{ .FuzzyWordCount }} words,
							read in about {{ .ReadingTime }} mins.
						</small>
                    </div>
                    <div class="col-sm-6 text-right">
                        {{ range .Params.tags }}
                        <span class="label label-default">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
                <hr>
                <p itemprop="articleBody" class="text-justify">
                    {{ .Content }}
                </p>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
						<span itemprop="author">{{ .Site.Params.Author }}</span> is a programmer with more than 18 
						years of experience in different sub areas of the internet and software industry. 
						He is a open-source contributor and author of a few projects at 
                        <a href="http://github.com/hgfischer" target="_blank">Github</a>.
                        You can also find him on <a href="http://twitter.com/hgfischer" target="_blank">Twitter</a>,
                        <a rel="author" href="https://plus.google.com/+HerbertFischer/" target="_blank">Google+</a> and
                        <a href="http://www.linkedin.com/in/hgfischer" target="_blank">LinkedIn</a>.
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <nav>
                            <ul class="pager">
                                {{ if .Prev }}
                                <li class="previous small">
                                    <a class="previous" href="{{ .Prev.RelPermalink }}">
										<span aria-hidden="true">&larr;</span>
										&nbsp;{{ .Prev.Title }}
                                    </a>
                                </li>
                                {{ end }} {{ if .Next }}
                                <li class="next small">
                                    <a class="next" href="{{ .Next.RelPermalink }}">
										{{ .Next.Title }}&nbsp;<span aria-hidden="true">&rarr;</span>
									</a>
                                </li>
                                {{ end }}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ partial "disqus.html" . }}
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-sm-offset-1">
                <div>
                    <h4>Share</h4>
					<ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://twitter.com/intent/tweet?status={{ .Title }}: {{ .Permalink }}"
                            target="_blank" class="twitter"><span class="icon icon-twitter"></span>Twitter</a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Reddit"
                            class="reddit"><span class="icon icon-reddit"></span>Reddit</a>
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=hgfischer"
                            target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a>
                        </li>
                        <li class="list-group-item">
							<div class="g-plusone" data-annotation="none"></div>
                        </li>
                        <li class="list-group-item">
							<div id="fb-root"></div>
							<div class="fb-like" data-href="{{ .Permalink }}" data-layout="button" 
								data-action="like" data-show-faces="true" data-share="true"></div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Follow</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
							<a href="http://feeds.feedburner.com/hgfischer" target="_blank"
                            title="Subscribe by RSS" class="rss"><span class="icon icon-feed-2"></span>RSS</a> 
                        </li>
                        <li class="list-group-item">
							<a href="http://github.com/hgfischer" target="_blank" title="GitHub"
                            class="github"><span class="icon icon-github"></span>GitHub</a> 
                        </li>
                        <li class="list-group-item">
                            <a href="http://www.twitter.com/hgfischer" target="_blank" title="Follow me on Twitter"
                            class="twitter"><span class="icon icon-twitter"></span>Twitter</a>
                        </li>
                        <li class="list-group-item">
							<a href="http://www.linkedin.com/in/hgfischer" target="_blank"
                            title="LinkedIn" class="linkedin"><span class="icon icon-linkedin"></span>LinkedIn</a> 
                        </li>
						<li class="list-group-item">
							<div class="g-person" data-width="230" data-href="//plus.google.com/u/0/112773714892088929211" data-rel="author"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

	{{ partial "footer.html" . }}
	{{ partial "footer_includes.html" . }}
</body>

</html>
