<nav class="navbar" role="footer">
    <div class="container">
        <p class="navbar-text small">
            &copy; 1997-2014
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name">{{ .Site.Params.Owner }}</span>.
            </span>
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution">Some rights reserved</a>;
            please attribute properly and link back.
        </p>
    </div>
</nav>
