<div class="container">
	<div class="col-sm-12">
		<p>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px"
				data-ad-client="ca-pub-5263834571738641" data-ad-slot="3002119219"></ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		</p>
	</div>
</div>
<nav class="navbar" role="footer">
    <div class="container">
        <p class="navbar-text small">
            &copy; 1997-2014
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name">{{ .Site.Params.Owner }}</span>.
            </span>
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution">Some rights reserved</a>;
            please attribute properly and link back.
        </p>
    </div>
</nav>
