<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
	{{ if eq .Title .Site.Title }}
	<title>{{ .Title }} by {{ .Site.Params.Author }}</title>
	{{ else }}
	<title>{{ .Title }} :: {{ .Site.Title }} by {{ .Site.Params.Author }}</title>
	{{ end }}
    {{ partial "meta.html" . }}
    <!--base href="{{ .Site.BaseURL }}"-->
	<link rel="canonical" href="{{ .Permalink }}">
	{{ partial "header_includes.html" . }}
    <link rel="shortcut icon" href="/favicon.ico?{{.Now.UnixNano}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png?{{.Now.UnixNano}}">
    <link rel="prefetch" href="/fonts/glyphicons-halflings-regular.woff">
    <link rel="prerender" href="/fonts/glyphicons-halflings-regular.woff">
</head>
