<div class="row">
    <div class="col-sm-8 blog-post-meta">
    </div>
</div>

<div class="row">
    <div class="col-sm-8 blog-post-meta">
        <section id="author">
            <h4>About the Author:</h4> Herbert G. Fischer is a pragmatic software engineer, currently working
            at <a href="http://globo.com" target="_blank">Globo.com</a>. He is a
            open-source contributor and author of a few projects at Github, Google
            Code and BitBucket. You can find him on
            <a href="http://twitter.com/hgfischer">Twitter</a>,
            <a href="http://github.com/hgfischer">Github</a>, and
            <a title="Google+" rel="author" href="https://plus.google.com/+HerbertFischer/posts?rel=author"
            target="_blank">Google+</a>.
        </section>
    </div>
</div>
