{{ partial "header.html" . }}

<body>
    {{ partial "header_menu.html" . }}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {{ range first 10 .Data.Pages }} {{ .Render "summary" }} {{ end }}
            </div>

            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebar-module">
                    <h4>Tags</h4>
                    <ul class="list-group">
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <li class="list-group-item">
                            <span class="badge">{{ $taxonomy.Count }}</span>
                            <a href="/tags/{{ $name | urlize }}">{{ $name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>

	{{ partial "footer.html" . }}
	{{ partial "footer_includes.html" . }}
</body>

</html>
